USE [master]
GO
/****** Object:  Database [BD_Espacial]    Script Date: 22/04/2022 15:53:31 ******/
CREATE DATABASE [BD_Espacial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Espacial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_Espacial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Espacial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_Espacial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Espacial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Espacial]
GO
/****** Object:  Table [dbo].[Calle]    Script Date: 22/04/2022 15:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calle](
	[idCalle] [int] NOT NULL,
	[distancia] [geography] NOT NULL,
 CONSTRAINT [PK_Calle] PRIMARY KEY CLUSTERED 
(
	[idCalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casa]    Script Date: 22/04/2022 15:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casa](
	[idCasa] [int] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[ubicacion] [geography] NOT NULL,
	[idCalle] [int] NOT NULL,
 CONSTRAINT [PK_Casa] PRIMARY KEY CLUSTERED 
(
	[idCasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comercio]    Script Date: 22/04/2022 15:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comercio](
	[idComercio] [int] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[idTipo] [int] NOT NULL,
	[ubicacion] [geography] NOT NULL,
	[idCalle] [int] NOT NULL,
 CONSTRAINT [PK_Comercio] PRIMARY KEY CLUSTERED 
(
	[idComercio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 22/04/2022 15:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] NOT NULL,
	[idComercio] [int] NOT NULL,
	[nombre] [varchar](15) NOT NULL,
	[peso] [varchar](10) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
	[precio] [money] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoComercio]    Script Date: 22/04/2022 15:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComercio](
	[idTipoComercio] [int] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[horaabierto] [time](7) NOT NULL,
	[horacerrado] [time](7) NOT NULL,
 CONSTRAINT [PK_TipoComercio] PRIMARY KEY CLUSTERED 
(
	[idTipoComercio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Casa]  WITH CHECK ADD  CONSTRAINT [FK_Casa_Calle] FOREIGN KEY([idCalle])
REFERENCES [dbo].[Calle] ([idCalle])
GO
ALTER TABLE [dbo].[Casa] CHECK CONSTRAINT [FK_Casa_Calle]
GO
ALTER TABLE [dbo].[Comercio]  WITH CHECK ADD  CONSTRAINT [FK_Comercio_Calle] FOREIGN KEY([idCalle])
REFERENCES [dbo].[Calle] ([idCalle])
GO
ALTER TABLE [dbo].[Comercio] CHECK CONSTRAINT [FK_Comercio_Calle]
GO
ALTER TABLE [dbo].[Comercio]  WITH CHECK ADD  CONSTRAINT [FK_Comercio_TipoComercio] FOREIGN KEY([idTipo])
REFERENCES [dbo].[TipoComercio] ([idTipoComercio])
GO
ALTER TABLE [dbo].[Comercio] CHECK CONSTRAINT [FK_Comercio_TipoComercio]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Comercio] FOREIGN KEY([idComercio])
REFERENCES [dbo].[Comercio] ([idComercio])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Comercio]
GO
USE [master]
GO
